@import url("https://fonts.googleapis.com/css?family=Abel&display=swap");

body {
  font-family: "Abel", sans-serif;
  margin: 0;
}

.scroll {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.background {
  height: 100vh;
  width: 100vw;
  background: #16222e;
  scroll-snap-align: start;
  position: relative;
}

.intro-text {
  font-size: 4em;
  font-weight: normal;
  text-align: center;
  position: absolute;
  width: 70%;
  left: 15%;
  top: 140px;
  color: #51cb20;
  z-index: 2;
}

.white-text {
  color: white;
}
.green-text {
  color: #51cb20;
  z-index: 2;
}

.part2 {
  top: 25%;
  display: hidden;
}

.intro-text-box {
  position: relative;
}

.intro-text-highlight {
  height: 40px;
  position: absolute;
  width: 50%;
  background: #336699;
  left: 25%;
  margin-top: 325px;
}

.half-logo {
  width: 50%;
  position: absolute;
  left: 25%;
  bottom: 0%;
}

.background2 {
  height: 100vh;
  width: 100vw;
  background: #336699;
  background: url("https://hackernoon.com/hn-images/1*rbB4-Sq36Q8ugnHb5DBn_Q@2x.jpeg")
    no-repeat scroll ;
  scroll-snap-align: start;
  position: relative;
}

@media only screen and (min-width: 1850px) {
  .background2 {
    background-size: 100% 130%;
  }
  
}

.inspirational-quote {
  color: white;
  font-size: 3em;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  background: #336699;
}

.slide-two {
  position: absolute;
  width: 50%;
  background: #336699;
  margin: 0 auto;
  top: 40%;
  left: 25%;
}
@media only screen and (max-width: 768px) {
  .slide-two {
    width: 75%;
    left: 12.5%;
  }
}

@media only screen and (min-width: 768px) {
  .slide-two {
    top: 40%;
  }
}

.image-hold {
  width: 50%;
  position: absolute;
  left: 25%;
  bottom: 0%;
}

.background3 {
  height: 100vh;
  width: 100vw;
  background: #f6f4f3;
  scroll-snap-align: start;
}

.wwd-title {
  font-size: 3.5em;
  margin-left: 50px;
  margin-top: 0;
  padding-top: 15px;
}

.middle {
  width: 5%;
}

table {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  margin-top: 20vh;
}

td {
  width: 42.5%;
}

tr {
  width: 100%;
}

.background4 {
  height: 100vh;
  width: 100vw;
  background: #172664;
  scroll-snap-align: start;
}

.faces-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 9%;
}

.headshot {
  height: 250px;
  width: 175px;
  margin: 10px;
  background: #d8d8d8;
}

.headshot-quote {
  color: white;
  margin: 0;
  font-size: 2.9em;
  width: 70%;
  margin: auto;
  margin-top: 70px;
}

.background5 {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

.halfback1 {
  height: 70vh;
  width: 100vw;
  background: #336699;
}

.halfback2 {
  height: 30vh;
  width: 100vw;
  background: #142638;
  display: flex;
  flex-wrap: wrap;
}


.footer {
  color: #f6f4f3;
  width: 50%;
  margin-top: 80px;
  text-align: center;
}

.footer-name {
  margin-left: 60%;
}

.footer-logo {
  width: 50vw;
  height: 13.3397vw;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .intro-text-highlight {
    width: 70%;
    left: 15%;
    margin-top: 270px;
  }
  .intro-text{
    font-size: 3em;
  }
  .slide-two{
    top: 30%;
  }
  table{
    margin-top: 5vh;
  }
  .middle{
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .half-logo {
    width: 500px;
    left: calc(50% - 250px);
  }
}

@media only screen and (max-width: 768px) {
  td {
    display: block;
    width: 80%;
    margin: auto;
  }

  table {
    margin-top: 5vh;
  }
}

@media only screen and (min-width: 1000px) {
  .footer-logo {
    width: 500px;
    height: 133.397px;
  }
}
/* .icon-container {
  background-color: #383e47;
  margin-left: 40%;
}

.outer {
  padding: 50px;
  text-align: center;
}

i {
  padding: 5px;
  margin: 0px 20px 0px;
}

ul {
  padding: 5%;
  margin: 0% 5%;
} */

/* @media only screen and (min-width: 1000px) {
  .image-hold {
    bottom: 20%;
    width: 500px;
    left: calc(50% - 250px);
  }
} */
